.node {
    width: 33px;
    height: 33px;
    outline: 2px solid black;
}

.startIcon{
    position: absolute;
}
.css-1cy2ic9-MuiSvgIcon-root{
    margin-top: 2px;
    margin-left: 2px;
}

.finish-node {
    background-color: green;
}