.node {
    width: 33px;
    height: 33px;
    outline: 2px solid rgb(99, 97, 122);
}

.startIcon{
    position: absolute;
}
.css-1cy2ic9-MuiSvgIcon-root{
    margin-top: 2px;
    margin-left: 2px;
}

.finish-node {
    background-color: green;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
    }

    50% {
        background-color: rgba(217, 164, 17, 0.75);
    }

    75% {
        transform: scale(1.2);
        background-color: rgb(170, 217, 0);
    }

    100% {
        transform: scale(1);
        background-color: rgb(122, 238, 55);
    }
}

.node-wall {
    background-color: rgb(12, 53, 71);
}

.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: rgba(81, 255, 0, 0.623);
    }

    50% {
        transform: scale(1.2);
        background-color: rgba(241, 226, 17, 0.849);
    }

    100% {
        transform: scale(1);
        background-color: rgb(243, 194, 33);
    }
}