.rectangles {
  display: flex;
  justify-content: center; /* Center horizontally */
  padding: 20px;
}

.rectangle {
  display: inline-block;
  background-color: #63617a;
}

.rectangle-current {
  background-color: #b67245;
}
